@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.eot");
    src: local("../fonts/TT Lakes Regular"), local("fonts/TTLakes-Regular"),
    url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.eot");
    src: local("/fonts/TT Lakes Bold"), local("fonts/TTLakes-Bold"),
    url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("/fonts/TTLakes-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.eot");
    src: local("/fonts/TT Lakes Medium"), local("fonts/TTLakes-Medium"),
    url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Medium.woff") format("woff"),
    url("/fonts/TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}



body{
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
    font-style: normal;

}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #1B1C21;
    line-height: 24px;
    letter-spacing: -0.2px;
}




.side-bar__link:focus{
    color: #7E7E82;
    position: relative;

}

.side-bar__link:focus::after{
    content: "";
    position: absolute;
    top: -5px;
    left: -28px;
    width: 4px;
    height: 32px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #41F6D7;
}


.wrapper{

    width: 320px;
    height: auto;
    box-shadow: 7px 0 8px 0 rgba(34, 60, 80, 0.2);

}

.header{
    padding-top: 19px;
    display: flex;
    height: 50px;
    background: url("logos/Group.svg") no-repeat 40% 60%;
    /*margin-top: 18px;*/
    justify-content: space-between;
}


@keyframes search {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }

}


@keyframes close {

    to{
        transform: scale(1.1);
    }
}

.header__search-button:hover{
    filter: saturate(200%) ;
    animation-name: search;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.header__close-button:hover{
    filter: saturate(200%) ;
    animation-name: close;
    animation-duration: 1s;
}

.header__close-button{
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.header__search-button{
    margin-right: 24px;
    width: 40px;
    height: 40px;
}



.container__side-bar--list{

    padding-left: 30px;
    margin-top: 50px;
}


.container__side-bar{


    display: flex;
    flex-direction: column;
}

.side-bar__list-item{
    padding-bottom: 32px;
}

.social{
    display: flex;
    justify-content: flex-start;
    margin-left: 18px;
    margin-top: 250px;

}


@keyframes call {
    to{
        transform: scale(1.1);
    }
}

.social__call-button:hover{
    filter: saturate(200%) ;
    animation-name: call;
    animation-duration: 1s;
}

@keyframes chat {
    to{
        transform: scale(1.1);
    }
}

.social__chat-button:hover{
    filter: saturate(200%) ;
    animation-name: chat;
    animation-duration: 1s;
}


@keyframes profile {
    to{
        transform: scale(1.1);
    }
}

.social__profile-button:hover{
    filter: saturate(200%) ;
    animation-name: profile;
    animation-duration: 1s;
}

.feedback{
    display: flex;
    flex-direction: column;
    padding-left: 24px;

}

.feedback__email, .feedback__tel{
    padding-top: 16px;
}

.feedback__tel{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.6px;
}


.feedback__lang{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-top: 40px;
}

.lang__ru:focus, .lang__en:focus, .lang__ch:focus{
    color: #7E7E82;
}